<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Front Page - RUPAL</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rupal Result Master System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/about/">About us </a>
      </li>
      <li class="nav-item dropdown">
<li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact/">Contact us </a>
      </li>
      
    </ul>
    
  </div>
</nav>




<h1></h1>
<div style="border:5px solid black">
<div class="container">
<br>
<h1 style="text-align:center;font-family:georgia,garamond,serif;font-size:85px;font-style:bold;text-decoration: underline;">{{psc}}</h1><br>


<img src="{{srllll}}" width="500" style = "display: block;margin-left: auto;margin-right: auto;" />


<p style="text-align:center;font-family:georgia,garamond,serif;font-size:25px;font-style:bold;">
SESSION :- {{ssee}}
</p><br>
<p style="text-align:center;font-family:georgia,garamond,serif;font-size:45px;font-style:bold">
{{ssb}} PROJECT<br>TITLE OF PROJECT :- {{stp}}.
</p><br>
<p style="text-align:center;font-family:georgia,garamond,serif;font-size:42px;">
PROJECT PREPARED BY :-
</p>
<p style="text-align:center;font-family:georgia,garamond,serif;font-size:38px;">
NAME OF STUDENT :- {{sfrn}}<br> 
CLASS :- {{sscl}}<br>
ROLL NO. :- {{srl}}<br>
</p>

<p style="text-align:right;font-family:georgia,garamond,serif;font-size:42px;">
SUMMITED TO :-
</p>
<p style="text-align:right;font-family:georgia,garamond,serif;font-size:38px;">
{{sts}}<br>
{{stechd}} {{ssb}}
</p>





</div>
<br>
</div><p style="text-align:right;">THIS FRONT PAGE IS FORMED IN RUPAL MASTER PANEL<br>
<input class="btn btn-outline-dark" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" type="button" value="PRINT FRONT PAGE" onClick="window.print()">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>