<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Master Panel - Rupal</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rupal Master System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/about/">About us </a>
      </li>
      <li class="nav-item dropdown">
<li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/contact/">Contact Us</a>
      </li>
      
    </ul>
    
  </div>
</nav>





<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to Rupal Master System for Student and Teachers!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="container">
<h5>School's and Teacher's Corner :-</h5>
<div class="row">
        <div class="card mx-auto my-2 p-2" style="width: 18rem;">
            <img width="270px" height="245px" src="https://cdn0.iconfinder.com/data/icons/education-training-1/33/exam_result-512.png" alt="...">
            <div class="card-body">
                <h5 class="card-title">Result Maker</h5>
                <p class="card-text">Input your Details and Get well Designed Result.</p>
                <a href="http://127.0.0.1:8000/index/" class="btn btn-outline-dark">Make Result</a>
            </div>
        </div>

        <div class="card mx-auto my-2 p-2" style="width: 18rem;">
            <img width="23px" height="245px" src="https://cdn2.iconfinder.com/data/icons/human-resource-1/50/50-512.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Student ID Card Maker</h5>
                <p class="card-text">Input your Details and Get well Designed Student ID.</p>
                <a href="http://127.0.0.1:8000/iddata/" class="btn btn-outline-dark">Make Student ID</a>
            </div>
        </div>

    </div>

</div>
	
  </div>
</div><br>



<div class="container">
<h5>Student's Corner (Project Material) :-</h5>
    <div class="row">
        <div class="card mx-auto my-2 p-2" style="width: 18rem;">
            <img width="23px" height="245px" src="https://image.flaticon.com/icons/svg/2/2144.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Front Page Maker</h5>
                <p class="card-text">Input your Details and Get well Designed Front Page.</p>
                <a href="http://127.0.0.1:8000/frontdata" class="btn btn-outline-dark">Make Front Page</a>
            </div>
        </div>

        <div class="card mx-auto my-2 p-2" style="width: 18rem;">
            <img width="23px" height="245px" src="https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1TRwz1KRLUri3-OVLW_sR-GjpjpvBeHYH%2Fcommunication-thumbnail-2x1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Achknowledgement Maker</h5>
                <p class="card-text">Input your Details and Get well Designed Achknowledgement.</p>
                <a href="http://127.0.0.1:8000/acka" class="btn btn-outline-dark">Make Achknowledgement</a>
            </div>
        </div>

        <div class="card mx-auto my-2 p-2" style="width: 18rem;">
            <img width="23px" height="245px" src="https://cdn4.iconfinder.com/data/icons/seo-internet-2/128/1-95-512.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Certificate Maker</h5>
                <p class="card-text">Input your Details and Get well Designed Certificate.</p>
                <a href="http://127.0.0.1:8000/certidata" class="btn btn-outline-dark">Make Certificate </a>
            </div>
        </div>

    </div>

</div>

</div>


<br>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>